.CodeMirror {
    border-radius: 0.25em;
    padding: 2px;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 0;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,0.15);
}

@media only screen and (max-width: 768px) {
    .CodeMirror {
        font-size: 0.7em;
    }
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    text-decoration: none;
    color: initial;
}

.bor {
    border:0;
}

.bg-blue {
    background-color: #4680ff;
}

.t-blue {
    color: #4680ff;
}

.bor-blue {
    border-left: 3px solid #4680ff;
}

.bg-red {
    background-color: #FC6180;
}

.t-red {
    color: #FC6180;
}

.bor-red {
    border-left: 3px solid #FC6180;
}

.bg-green {
    background-color: #93BE52;
}

.t-green {
    color: #93BE52;
}

.bor-green {
    border-left: 3px solid #93BE52;
}

.t-yellow {
    color: #FFB64D;
}

.bg-yellow {
    background-color: #FFB64D;
}

.bor-yellow {
    border-left: 3px solid #FFB64D;
}

.s3 {
    padding-left: 60px;
    background-color: #90ee9054;
}

.col-md-auto {
    padding: 0 5px;
}

.icon {
    font-size: 2.5em;
}
.icon2 {
    position: absolute;
    left: 45px;
    font-size: 2.5em;
    top: 50%;
    transform: translateY(-50%);
}

p {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    padding: 1.25rem;
    background-color: white;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: cornflowerblue; 
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.status {
    font-weight: 700;
}

.navlink {
    border-radius: 0;
    border-bottom: 3px;
    color: white;
}

.navlink:hover {
    color: white;
    border-bottom: 3px solid lightskyblue;
}

.checked_nav {
    color: white;
    border-bottom: 3px solid lightskyblue;
}

.mono {
    font-family: 'Fira Code', monospace;
}

#div_id_desc, #div_id_title, #div_id_level, #div_id_input_info,
#div_id_output_info, #inputs_file, #outputs_file, #id_password {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

.my {
    font-size: 1.35em;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.25em;
    outline: none;
    border: 1px solid #4680ff;
}
input:focus {
    box-shadow: 0 0 0 2px #4680ff;
}

.t-bron {
    color: #b35e14;
}