{% extends 'base.html' %}
{% block content %}
    <div class="col-md-8 m-auto">
        <div class="table-responsive">
            <table class='table table-striped'>
                <tr>
                    <td colspan="7" class="text-center fw-bold fs-5 t-blue">
                        Foydalanuvchilar
                    </td>
                </tr>
                <tr>
                    <th>Reytingi</th>
                    <th>Nomi</th>
                    <th>To'plagan bali</th>
                    <th>Ro'yxatdan o'tgan vaqti</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'profile' user.username %}" class="t-blue fw-bold">
                                {{ user.username }}
                            </a>
                        </td>
                        <td>
                            <span class="fw-bold">
                                {{ user.score }}
                            </span>
                            <i class="fas fa-star"></i>
                        </td>
                        <td>{{ user.date_joined }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}